.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 4, 225);
    height: 200px;
    color: #ffffff;
}
.main{
margin-top: 10px;
padding-left: 20px;
padding-right: 20px;
}

.footer{
    text-align: center;
    background-color: rgb(0, 4, 255);
    color: #ffffff;
}